nav {
    background: var(--moss-green);
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 2rem;
    border-radius: 0px 0px 15px 15px;
    flex-wrap: nowrap;
}

nav a {
    color: var(--charcoal);
    text-decoration: none;
    font-weight: bolder;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s, transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a:hover {
    background-color: var(--hunyadi-yellow);
    border-radius: 5px;
    transform: translateY(-3px);
}

.theme-toggle {
    padding: 0.75rem 1rem;
    background: var(--hunyadi-yellow);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.theme-toggle:hover {
    background: var(--charcoal);
}