:root {
  --hunyadi-yellow: #eeb757ff;
  --moss-green: #93a182ff;
  --dark-slate-gray: #3b4c45ff;
  --charcoal: #344453ff;
  --sage: #9ea57eff;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('img/bg2.gif') no-repeat center center fixed;
  background-size: cover;
  color: var(--charcoal);
}